@use "../common/color.scss" as *;
@use "../common/keyframes.scss" as *;

.sectioin{
    width: 100%;
    height: 100vh;
    background-color: $primary;
    overflow: hidden;
}

.main-section {
    .title {
        h2 {
            margin-bottom: 24px;
            font-family: "bnv";
            font-size: 58px;
            color: $white;
            letter-spacing: 2px;
            line-height: 1.3;
        }
    }
}

.second-section{
    padding-top: 140px;

    .inner{
        align-items: flex-start;
    }
}