@font-face {
    font-family: 'p-bold';
    src: url('/fonts/Pretendard/Pretendard-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'p-medium';
    src: url('/fonts/Pretendard/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'p-thin';
    src: url('/fonts/Pretendard/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'tages';
    src: url('/fonts/Tagesschrift/Tagesschrift-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'bnv';
    src: url("/fonts/bnv/BnviitLasikOTF.otf") format('opentype');
}