@font-face {
    font-family: 'p-bold';
    src: url('/fonts/Pretendard-Bold.otf') format('otf');
}

@font-face {
    font-family: 'p-medium';
    src: url('/fonts/Pretendard-Medium.otf') format('otf');
}

@font-face {
    font-family: 'p-thin';
    src: url('/fonts/Pretendard-Thin.otf') format('otf');
}


